[user]
  name = Justin Karimi
  email = jekhokie@gmail.com
[color]
  diff = auto
  status = auto
  branch = auto
[push]
  default = tracking
[rebase]
  autosquash = true
[alias]
  graph = log --graph --format='%h %Cred %ar %Cgreen %s %Cblue %an'
  ri = rebase --interactive
  rc = rebase --continue
